/*  Custom styles  */

.show-scroll{
  overflow-x: auto !important;
}

.full-width {
  width: 100% !important;
}

.errores {
  color: red;
}

.input-group .form-control::placeholder {
  color: grey;
}

.btn, .navbar .navbar-nav > a.btn{
  padding: 11px 13px;
}

::-webkit-input-placeholder { color: blue; } /* WebKit */
::-moz-placeholder { color: blue; } /* Firefox 19+ */

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate .break a {
  cursor: default;
}

.panel-header-lg {
  height: 100px;
}

.no-padding{
  padding: 0 0 0 0;
}

.btn-round {
  border-radius: 25px !important;
}

.fixed-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.notification-card{
  margin-left: 6%;
  margin-right: 6%;
    color: #828a8e;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #d0d0d0a1;
    border: transparent;
    border-radius: 10px;
}

.notification-card:active{
  background-color: #D0D0D0;
  background-image: none;
  border-color: #D0D0D0;
}

.slide-notipromo{
  color: #3B75B3;
  padding-left: 3%;
  border: transparent;
  background-color: white;
}

.font-rubik{
  font-style: 'Rubik', sans-serif;
  display: inline-block;
  font-size: 20pt;
  color: #3B75B3;
  padding-left: 3%;
}

.roboto-text{
  font-family: 'Roboto', sans-serif;
}

.pull-right {
  justify-content: right !important;
  align-items: right !important;
}

.notification-img{
  max-width: 100% !important;
  padding: 0 !important;
}

.switch.switch-text.switch-sm {
  width: 99px;
  height: 29px;
}

.switch.switch-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 24px;
  cursor: pointer;
}
.switch.switch-text.switch-sm .switch-label {
  font-size: 14px;

}
.switch.switch-text .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #2979AF;
  border: 1px solid #c2cfd6;
  border-radius: 18px;
  transition: opacity background .15s ease-out;
}
.switch.switch-text .switch-label::after{
  color:#2979AF;
}
.switch.switch-text .switch-label::before{
  color: #fff;
}
.switch.switch-text .switch-label::before, .switch.switch-text .switch-label::after {
  position: absolute;
  top: 50%;
  width: 71%;
  margin-top: -.5em;
  line-height: 1;
  text-align: center;
  transition: inherit;
}
.switch.switch-text.switch-sm .switch-handle {
  width: 15px;
  height: 25px;
}

.switch.switch-text .switch-handle {
  position: absolute;
  top: 2px;
  left: 8px;
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #c2cfd6;
  border-radius: 9px;
  transition: left .15s ease-out;
}
.switch.switch-text.switch-sm .switch-label {
  font-size: 14px;

}
.switch-info > .switch-input:checked ~ .switch-label {
  background: #fff!important;
  border-color: #2979AF;
}
.switch.switch-text.switch-sm .switch-input:checked ~ .switch-handle {
  left: 79px;
  border-left: 5px;
  border-radius: 16px;
}

.switch.switch-text .switch-input:checked ~ .switch-handle {
  left: 26px;
}

.switch-info > .switch-input:checked ~ .switch-handle {
  border-color: #c2cfd6;
}

.switch.switch-text .switch-handle {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #c2cfd6;
  border-radius: 9px;
  transition: left .15s ease-out;
}

.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}


.search-input {
  padding: 10px 10px;
  height: 40px;
  position: relative;
  background-color: #FFFFFF;
  margin-left: -32px;
  &::after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABhElEQVQ4T52Sy0rDQBSGTZqmbdpmoaKbdidCQbwLuitI0aULX893UBAURFG8besNN66UIoKohN40JvE7JZFUp2AdCJM585/vnPlntIFwZDKZgq7rJZZ+GNI1TXPr9foR6yDS/Zw1CViWNcOEXvvkGxZIEARGo9G4AFxutVpbxD5UEE0qkzTK5ghJ14gfQqGWzWZXiF2ynmo2mztKgIjYePR9/zWW/K0N958SicS94zgvv46AYJkOAs56oKrA8eapfptOp2fb7fZxL4AH4FAFSKVS44ZhOHQ4RocnKkBFXMawfZXbuVyuDKDqum4RzdUvgAiofsNR5hDsxgW2bQ+SWOJ6Lfb2lCbK9XET6/hwyjeJ68+e5znJZLLA/I55b7S/iA8bvQASNzGrAqBGpTv+bdM0m1RfAFikg20gS0DkPXSNzkOKRj6fHyJpQtYkOSRUxReAa6zPVJAugKrFKCYQOjynI+lkM4r/GSAJMYh40jlOXwAVpG9AHML/9L8AAuHdrDLVvgDUeL/HYUX9BAAAAABJRU5ErkJggg==');
    display: block;
    position: absolute;
    width: 9px;
    z-index: 3;
    height: 9px;
    font-size: 15px;
    font-weight: lighter;
    top: 6px;
    left: 16px;
    line-height: 32px;
    opacity: 0.6;
  }
  & > input {
    width: 100%;
    font-size: 18px;
    border: none;
    line-height: 22px;
    padding: 5px 10px 5px 25px;
    padding-left: 7%;
    height: 20px;
    position: relative;
    font-weight: lighter !important;
    color: #D0D0D0;
      background-color: #FFFFFF;
  }
  & > input:focus {
    outline: none;
  }

  ::placeholder {
      color: #D0D0D0;
      font-weight: lighter !important;
      padding-left: 7%;
      opacity: 1;
  }

  :-ms-input-placeholder {
      color: #D0D0D0;
      font-weight: lighter !important;
      padding-left: 7%;
  }

  ::-ms-input-placeholder {
      color: #D0D0D0;
      font-weight: lighter !important;
      padding-left: 7%;
  }
}






.notification-img{
  max-width: 100% !important;
  padding: 0 !important;
  min-height: 100%;
  align-items: top !important;
}

.ContainerConfig{
  padding: 30px;

}
.btn{
  border-radius: 15px;

}

.business-text-color {
  color: #4CB5D7;
}

.business-title-color {
  color: #5E5E5E;
}



.business-font {
  font-family: 'Avenir Next Italic';
}

.material-blue-btn{
  background-color: #4CB5D7;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.material-green-btn{
  background-color: #88BC4F;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.business-bg {
  background-color: #FFF;
}

.support-card{
  background-color: #006064;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.react-switch-handle{
  left: 5px;
}
.subTitle{
  padding: 25px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(52, 152, 219);
    background-color: #eee;
    margin-bottom: 15px
}
.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn {
  background: transparent;
  border: solid 1px #27a9e0;
  border-radius: 3px;
  color: #27a9e0;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none !important;
  padding: 10px 20px;
}
.form-control:disabled {
  background-color: #fff;
}

.withdraw-table{
  padding-left: 2%;
  padding-right: 2%;
}

.icon-header{
  background-size: 50px !important;
}

.bank-button{
  min-width: 0% !important;
  padding-left: 0% !important;
  padding-top: 0% !important;
  padding-right: 0% !important;
  padding-bottom: 0% !important;
}

.support-img{
  height: 30px !important;
  width: 30px !important;
}

.bank-icon{
  height: 20px;
  width: 20px;
}

.support-background{
  height: 30px;
  width: 60px;
  overflow: hidden;
}

.modal-button{
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-card-content{
  padding-top: 1%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 2%;
}

.cardFormReceptor{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8)
}

.imageReceptor{
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100px;
}
.subTitleReceptor{
  text-align: left !important;
    font-size: 15px;
    color: #2979AF;
    font-weight: bold;
}
.imputReceptor{
  background-color: transparent;
  border-color: #2979AF;
  border: 5px solid #2979AF;
    border-width: 0px 0px 3px 0px;
}
.buttonReceptor{
    background-color: transparent !important;
    border-radius: 5px !important;
}
.titleReceptor{
  color: grey;
    font-size: 20px;
    margin-bottom: 5%;
}
select, textarea{
  width: 100%;
  background-color: #f0f3f5;
}
.noOpacity{
  opacity: 1;
  padding: 0 5% 0 5%;

}
input[type=checkbox].css-checkbox {
      position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
    }

    input[type=checkbox].css-checkbox + label.css-label {
      padding-left:30px;
      height:25px;
      display:inline-block;
      line-height:25px;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:15px;
      vertical-align:middle;
      cursor:pointer;

    }

    input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -25px;
    }
    label.css-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
.react-tel-input input[type=tel], .react-tel-input input[type=text]{
  background-color: transparent !important;
  border-color: #2979AF !important;
  border: 5px solid #2979AF !important;
    border-width: 0px 0px 3px 0px !important;
  height: 35px !important;
}
.Logo{

  width: 150px;
  height: 200px;
}
.card{
  margin-bottom: 0;
  justify-content:center;
}
.errores {
  color:red;
  font-weight: bold;
  text-align: left;
}
.tablas {
  background-color: #26C6DA;
  font-weight:bold;
}
.input-group-addon:not(:last-child) {
  min-width:30%;
  justify-content:center;
}

/*
.form-check-radio .form-check-sign::before,
.form-check-radio .form-check-sign::after {
  border: 1px solid rgba(134, 142, 150, 0.64) !important;
}

.form-control {
  border: 1px solid rgba(134, 142, 150, 0.64) !important;
}
*/

.login-register-bg {
  background-image: url("../img/bg3.jpg");
  background-size: cover;
  overflow: hidden;
}

.max-width {
  max-width: 100% !important;
}

.card label {
  color: #2C2C2C !important;
}

.card-center{
  display: block;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 0 30px !important;
  margin-top: -10px !important;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-primaryBlue {
  background-color: #2ca8FF;
  color: #FFFFFF;
  box-shadow: 0px 2px 8px 0px dimgray !important; }
  .btn-primaryBlue:hover, .btn-primaryBlue:focus, .btn-primaryBlue:active, .btn-primaryBlue.active, .btn-primaryBlue:active:focus, .btn-primaryBlue:active:hover, .btn-primaryBlue.active:focus, .btn-primaryBlue.active:hover,
  .show > .btn-primaryBlue.dropdown-toggle,
  .show > .btn-primaryBlue.dropdown-toggle:focus,
  .show > .btn-primaryBlue.dropdown-toggle:hover,
  .show > .btn-primaryBlue.btn[aria-haspopup="true"],
  .show > .btn-primaryBlue.btn[aria-haspopup="true"]:focus,
  .show > .btn-primaryBlue.btn[aria-haspopup="true"]:hover {
    background-color: #5dbcff;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-primaryBlue:not([data-action]):hover {
    box-shadow: 0 3px 8px 0 dimgray; }
  .btn-primaryBlue.disabled, .btn-primaryBlue.disabled:hover, .btn-primaryBlue.disabled:focus, .btn-primaryBlue.disabled.focus, .btn-primaryBlue.disabled:active, .btn-primaryBlue.disabled.active, .btn-primaryBlue:disabled, .btn-primaryBlue:disabled:hover, .btn-primaryBlue:disabled:focus, .btn-primaryBlue:disabled.focus, .btn-primaryBlue:disabled:active, .btn-primaryBlue:disabled.active, .btn-primaryBlue[disabled], .btn-primaryBlue[disabled]:hover, .btn-primaryBlue[disabled]:focus, .btn-primaryBlue[disabled].focus, .btn-primaryBlue[disabled]:active, .btn-primaryBlue[disabled].active,
  fieldset[disabled] .btn-primaryBlue,
  fieldset[disabled] .btn-primaryBlue:hover,
  fieldset[disabled] .btn-primaryBlue:focus,
  fieldset[disabled] .btn-primaryBlue.focus,
  fieldset[disabled] .btn-primaryBlue:active,
  fieldset[disabled] .btn-primaryBlue.active {
    background-color: #2ca8FF;
    border-color: #2ca8FF; }
  .btn-primaryBlue.btn-simple {
    color: #2ca8FF;
    border-color: #2ca8FF; }
    .btn-primaryBlue.btn-simple:hover, .btn-primaryBlue.btn-simple:focus, .btn-primaryBlue.btn-simple:active {
      background-color: transparent;
      color: #5dbcff;
      border-color: #5dbcff;
      box-shadow: none; }
  .btn-primaryBlue.btn-link {
    color: #2ca8FF; }
    .btn-primaryBlue.btn-link:hover, .btn-primaryBlue.btn-link:focus, .btn-primaryBlue.btn-link:active {
      background-color: transparent;
      color: #5dbcff;
      text-decoration: none;
      box-shadow: none; }

  /*!
  Animate.css - http://daneden.me/animate
  Licensed under the MIT license - http://opensource.org/licenses/MIT

  Copyright (c) 2015 Daniel Eden
  */

  @keyframes fadeInUp {
      from {
          transform: translate3d(0,40px,0)
      }

      to {
          transform: translate3d(0,0,0);
          opacity: 1
      }
  }

  @-webkit-keyframes fadeInUp {
      from {
          transform: translate3d(0,40px,0)
      }

      to {
          transform: translate3d(0,0,0);
          opacity: 1
      }
  }

  .animatedFadeInUp {
      opacity: 0
  }

  .fadeInUp {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
  }

/*  Template styles  */

.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}
